<a href="https://colab.research.google.com/github/maftuna2408/maftuna2408/blob/main/first_step.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# prompt: print("Salom, Maftuna")

print("Salom, Maftuna")

Salom, Maftuna

#Heading
 - [Krish](https://praktikum.mohirdev.uz)
 - Mundarija

In [ ]:
import numpy #as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as skl
import tensorflow as tf
import keras #as ks
import torch #as tr
import scipy #as sp
import statsmodels as sm
import plotly as pl
import bokeh as bk

In [ ]:
tf.__version__

'2.17.0'

In [ ]:
torch.__version__

'2.4.1+cu121'

In [ ]:
import torch
torch = torch.cuda.is_available()
torch

True

In [ ]:
! ls

drive  sample_data

In [ ]:
import pandas as pd
files = pd.read_excel("./data/capital.xlsx")
files.head()

,Customer Number,Credit Card Account Balance,Gender 1 = Male 2 = Female,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Sorted -->,Credit Card Account Balance.1,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,51130,1018,1,NaN,NaN,Creating a histogram,NaN,NaN,NaN,NaN,NaN,NaN,1493,NaN,Sorting a data set,NaN,NaN,NaN,99
1,61413,1021,1,NaN,NaN,Select the data column,NaN,NaN,NaN,NaN,NaN,NaN,1443,NaN,Select the whole data to be sorted.,NaN,NaN,NaN,135
2,54713,1081,1,NaN,NaN,[Insert]>Charts>Insert Statistic Chart Icon>Hi...,NaN,NaN,NaN,NaN,NaN,NaN,1390,NaN,[Data]>Sort>Order,NaN,NaN,NaN,139
3,79247,300,1,NaN,or,[Insert]>Charts>Recommended Charts>All Charts ...,NaN,NaN,NaN,NaN,NaN,NaN,1383,NaN,NaN,NaN,NaN,NaN,143
4,94899,769,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1374,NaN,NaN,NaN,NaN,NaN,148